<div class="button-row">
  <a mat-fab color="primary" (click)="blogDetails()"><mat-icon>keyboard_arrow_left</mat-icon></a>
</div>
<form [formGroup]="blogsForm" (ngSubmit)="onFormSubmit(blogsForm.value)">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Title" formControlName="title">
    <mat-error>
      <span *ngIf="!blogsForm.get('title').valid && blogsForm.get('title').touched">Please enter Book Title</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="URL" formControlName="blog_url"></textarea>
    <mat-error>
      <span *ngIf="!blogsForm.get('blog_url').valid && blogsForm.get('blog_url').touched">Please enter Blog URL</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Author" formControlName="author">
    <mat-error>
      <span *ngIf="!blogsForm.get('author').valid && blogsForm.get('author').touched">Please enter Book Author</span>
    </mat-error>
  </mat-form-field>
  <div class="button-row">
    <button type="submit" [disabled]="!blogsForm.valid" mat-fab color="primary"><mat-icon>save</mat-icon></button>
  </div>
</form>